#hidden files
.*

#logs 
home-assistant.log
appdaemon.log
OZW_Log.txt

#sensitive
secrets.yaml
known_devices.yaml
zones.yaml
options.xml
appdaemon/appdaemon.yaml

#db
home-assistant_v2.db
pyozw.sqlite

#zwave config
zw*.xml

#cache
tts
appdaemon/apps/__pycache__